<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="MindMap Canvas"
             Manufacturer="ICSharperNow"
             Version="1.0.1"
             UpgradeCode="80298A68-2B8E-4179-B2BD-FC0B5BEA32B8"
             Language="1033"
             Compressed="yes">

        <MajorUpgrade DowngradeErrorMessage="A newer version of MindMap Canvas is already installed."/>
        <MediaTemplate EmbedCab="yes"/>

        <Icon Id="AppIcon.exe" SourceFile="$(var.AssetsDir)/app.ico"/>
        <Property Id="ARPPRODUCTICON" Value="AppIcon.exe"/>
        <Property Id="ARPHELPLINK" Value="https://github.com/ICSharperNow/mind-map-canvas"/>

        <StandardDirectory Id="ProgramFiles64Folder">
            <Directory Id="INSTALLFOLDER" Name="MindMapCanvas"/>
        </StandardDirectory>
        <StandardDirectory Id="ProgramMenuFolder"/>
        <StandardDirectory Id="DesktopFolder"/>

        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="MainExecutable">
                <File Id="MainExe" Source="$(var.PublishDir)/MindMapCanvas.exe" KeyPath="yes">
                    <Shortcut Id="StartMenuShortcut"
                              Directory="ProgramMenuFolder"
                              Name="MindMap Canvas"
                              Description="Mind-mapping board with shapes, connectors, and themes"
                              Icon="AppIcon.exe"
                              Advertise="yes"/>
                    <Shortcut Id="DesktopShortcut"
                              Directory="DesktopFolder"
                              Name="MindMap Canvas"
                              Icon="AppIcon.exe"
                              Advertise="yes"/>
                </File>
            </Component>
        </ComponentGroup>

        <Feature Id="Main" Title="MindMap Canvas" Level="1">
            <ComponentGroupRef Id="ProductComponents"/>
        </Feature>
    </Package>
</Wix>
